<div>
	<div class="content-box-inner">
		<h4 class="title">
			Hit Count : {{ hit_count }}
		</h4>
		<div class="details">
			<div class="desc">
				<p>Short URL : </p>
				<a href="{{ short_url }}" target="_blank">{{ short_url }}</a>
				<p>Orignal URL : </p>
				<p>{{ original_url }}</p>
			</div>
		</div>
	</div>
</div>